<div class="container">
  <h2>This is Featured Collection</h2>
</div>

{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
      {
        "type": "collection",
        "id": "featured_collection",
        "label": "Featured Products"
      }
    ],
    "presets": [
      {
        "name": "Featured Product Collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}